/* AB模版网 做最好的织梦整站模板下载网站 */
/* 网址：Www.AdminBuy.Cn */
/* 图标大全：Sc.AdminBuy.Cn 专业建站素材网站 */
/* QQ：9490489 */


.main06 {
	margin: 0 auto;
	width: 1200px;
	height: 303px;
	margin-left: -70px;
}
.main06 .qhbox {
	margin: 0 auto;
	width: 1200px;
	height: 219px;
}
/*5大优势切换*/
.main06 .qhbox .Button {
	float: left;
	width: 35px;
	height: 162px;
	padding-top: 57px;
	cursor: pointer;
}
.main06 .qhbox .Button2 {
	float: left;
	width: 24px;
	height: 162px;
	padding-top: 57px;
	cursor: pointer;
}
.main06 .qhbox .pcont {
	float: left;
	width: 1140px;
	height: 219px;
	overflow: hidden;
}
.main06 .qhbox .ScrCont {
	width: 6000px;
	zoom: 1;
}
#List1_1 {
	float: left;
}
#List2_1 {
	float: left;
}
.main06 .qhbox .picbox {
	float: left;
	width: 285px;
	height: 219px;
}
.main06 .hz {
	margin: 0 auto;
	width: 1200px;
	height: 154px;
}
